body {
    background: rgb(220,216,215);
    background: linear-gradient(0deg, rgba(220,216,215,1) 0%, rgba(148,187,233,1) 100%);
    height: 100vh;
}
.appContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
}